*{
box-sizing: border-box;
padding: 0;
margin: 0;
}

header{
    padding: 30px 40px;
    background-color: rgb(13, 130, 13);
}

section{
    padding: 20px 40px;

}

section img{
    max-width: 200px;
    border: 2px solid #fff;
}

h2,h3,h4,h5,h6{
    font-size:20px ;
    text-decoration: underline;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
    color: #fff;
}